.intro-page {
  margin-top: 2vh;
  max-width: 90vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  header {
    box-shadow: none;
  }
}
.intro-tabs {
  background-color: #282c34;
  border-radius: 2vh;
  max-width: 100vw;
}
.popularMovie-card {
  height: 60vh;
  width: 13vw;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: rgb(0, 30, 60);
  color: white;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  transition: 0.2s all;
  border-radius: 2vh;
}
.popularMovie-wrap {
  display: flex;
  align-items: center;
}

.popularMovie-wrap:hover .popularMovie-card {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}
.popularMovie-wrap:hover .popularMovie-card:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}
.popularMovie-title {
  display: flex;
  justify-content: center;
}
.popularMovies-pagination {
  display: flex;
  justify-content: center;
  height: 10vh;
}
