.intro-box {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  max-width: 90vw;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  padding: 3vh;
  background-color: rgb(0, 30, 60);
  border-radius: 2vh;
}
.intro-message {
  margin: 20px 0px;
  font-family: PlusJakartaSans-ExtraBold, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: clamp(2.625rem, 1.2857rem + 3.5714vw, 4rem);
  font-weight: 800;
  line-height: 1.11429;
  max-width: 50vh;
  color: white;
  display: block;
  font-size: 7vh;
  letter-spacing: 1vh;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.intro-highlight-message {
  color: rgb(51, 153, 255);
}
.intro-collection-posters {
  max-width: 36vw;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2vh inset rgb(51, 153, 255);
  border-radius: 2vh;
}
.intro-poster {
  max-width: 12vw;
  width: 100%;
  max-height: 40vh;
  height: 100%;
}
