.card {
  width: 20vw;
  height: 60vh;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
.card-actionArea {
  width: 100%;
  height: 100%;
}
.card-image {
  height: 100%;
  width: 100%;
}
.movies-list {
  padding: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 90vw;
  width: 100%;
  row-gap: 2vh;
}
