.search-bar {
  max-width: 95vw;
  width: 100%;
  display: flex;
  border-radius: 2vh;
  justify-content: space-evenly;
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );

  margin-top: 0.5vh;
}
.form {
  width: 100%;
  display: flex;
  align-self: center;
}
.homepage-link {
  text-decoration: none;
  width: 100%;
  font-size: 4vw;
  font-family: "Titillium Web", sans-serif;
  display: flex;
  align-self: center;
  color: white;
  justify-content: center;
}
.input {
  width: 40vw;
  height: 100%;
  background-color: #282c34;
  color: white;
  border-radius: 1vh;
  font-size: 2vh;
  text-align: center;
  padding: 2vh;
}
.input-link {
  width: 100%;
  height: 100%;
}
