.search-bar {
  max-width: 90vw;
  width: 100%;
  display: flex;
  border-radius: 2vh;
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
  margin-top: 0.5vh;
}
.form {
  width: 100%;
  display: flex;
}
.label {
  width: 100%;
  font-size: 4vw;
  font-family: "Titillium Web", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.input {
  width: 50%;
  height: 70%;
  background-color: #282c34;
  color: white;
  border-radius: 1vh;
  font-size: 3vh;
  text-align: center;
}
