.card {
  height: 10vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  transition: 0.2s all;
  border-radius: 2vh;
}
.specificMovie {
  text-decoration: none;
}
.card-actionArea {
  height: 100%;
  max-width: 20vw;
  width: 100%;
  text-decoration: none;
}
.card-image {
  height: 100%;
  max-width: 30vw;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.movies-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80vw;
  width: 100%;
  row-gap: 2vh;
  margin-top: 2vh;
}
.popularMovie-card {
  width: 13vw;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: rgb(0, 30, 60);
  color: white;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  transition: 0.2s all;
  border-radius: 2vh;
  min-width: 200px;
}
.movies-list:hover .card {
  filter: blur(1px);
  opacity: 0.3;
  transform: scale(0.98);
  box-shadow: none;
}
.movies-list:hover .card:hover {
  transform: scaleY(1.5) scaleX(1.1) translateY(2px);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgb(0, 0, 0);
}
.card-title {
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 4vh;
  display: flex;
  color: white;
  max-width: 80vw;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
