.search-bar {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  max-width: 90vw;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5vh;
  background-color: rgb(51, 153, 255);
  border-radius: 2vh;
  border: 1vh inset #282c34;
}
.form {
  max-width: 38vw;
  height: 100%;
  width: 100%;
  display: flex;
  justify-items: center;
  align-self: center;
}
.introPage-link {
  text-decoration: none;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
  margin: 20px 0px;
  font-family: PlusJakartaSans-ExtraBold, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: clamp(2.625rem, 1.2857rem + 3.5714vw, 4rem);
  font-weight: 800;
  line-height: 1.11429;
  max-width: 50vh;
  color: white;
  display: block;
  font-size: 5vh;
  letter-spacing: 1vh;
  font-weight: bold;
}
.input {
  background-color: #282c34;
  color: white;
  border-radius: 1vh;
  font-size: 2.5vh;
  text-align: center;
  padding: 2.5vh;
  height: 100%;
  width: 100%;
}
.input-link {
  width: 100%;
  height: 100%;
}
.homepage-link {
  text-decoration: none;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
}
.current-user {
  font-size: 2vh;
}
.searchBar-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
